
#header{
 
    background: linear-gradient(90deg, #070e11 0, #273b47 50%, #1e5372)
}

.text-achi{
    color: #97c93e !important
}

#header img{

    width: 180px;
}


#footer{
    
    background: linear-gradient(90deg, #070e11 0, #273b47 50%, #1e5372)
    /* background: linear-gradient(141deg, indigo,violet 30%, #1fc8db 40%, #2cb5e8 30%) */
}
#footer a{

    color: aliceblue;

}

/* #dropdown-menu{

} */